/* Coolors Exported Palette - https://coolors.co/c19f42-edb936-fcc546-ffd53f-f6f6f6-ffffff */

/* CSS HEX */
--satin-sheen-gold: #c19f42ff;
--maximum-yellow-red: #edb936ff;
--orange-yellow: #fcc546ff;
--mustard: #ffd53fff;
--cultured: #f6f6f6ff;
--white: #ffffffff;

/* CSS HSL */
--satin-sheen-gold: hsla(44, 51%, 51%, 1);
--maximum-yellow-red: hsla(43, 84%, 57%, 1);
--orange-yellow: hsla(42, 97%, 63%, 1);
--mustard: hsla(47, 100%, 62%, 1);
--cultured: hsla(0, 0%, 96%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$satin-sheen-gold: #c19f42ff;
$maximum-yellow-red: #edb936ff;
$orange-yellow: #fcc546ff;
$mustard: #ffd53fff;
$cultured: #f6f6f6ff;
$white: #ffffffff;

/* SCSS HSL */
$satin-sheen-gold: hsla(44, 51%, 51%, 1);
$maximum-yellow-red: hsla(43, 84%, 57%, 1);
$orange-yellow: hsla(42, 97%, 63%, 1);
$mustard: hsla(47, 100%, 62%, 1);
$cultured: hsla(0, 0%, 96%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$satin-sheen-gold: rgba(193, 159, 66, 1);
$maximum-yellow-red: rgba(237, 185, 54, 1);
$orange-yellow: rgba(252, 197, 70, 1);
$mustard: rgba(255, 213, 63, 1);
$cultured: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);
$gradient-radial: radial-gradient(#c19f42ff, #edb936ff, #fcc546ff, #ffd53fff, #f6f6f6ff, #ffffffff);